dm-control
chex
dm-haiku
jax>=0.4.3
dm-env
rlds
tensorflow_datasets==4.6.0
typing-extensions
dm-sonnet
absl-py
rlax
trfl
atari-py
pillow
pygame==2.1.0
flax
gym[atari]
dm-tree
bsuite
tensorflow_probability==0.15.0
numpy
dm-reverb==0.7.2
gym==0.25.0
dm-launchpad==0.5.2
tensorflow==2.8.0
optax
